<div class="col-12 col-md-6 col-lg-4">
  <div class="card mb-4 h-lg-100 border-0 card-event">
    <img src="../assets/running.jpg" alt="" class="d-none d-lg-block">
    <div class="card-body py-4">
      <h5 class="card-title fs-24">Maratona de Verão</h5>
      <p class="card-text">Local: Porto Alegre</p>
      <p class="card-text">Preço: R$70,00</p>
      <p class="card-text">Modalidade: Corrida</p>
      <div class="card-footer br-8 border-0 bg-white justify-content-between d-flex p-0 pt-3"> 
        <a href="" class="btn btn-date text-white border-0">
          <div class="d-grid content-date">
            <span class="date-text">Mar</span>
            <span class="d-block date-num">6</span> 
            <span class="d-block date-week">| Domingo</span>
          </div>
        </a>
        <a href="#" class="btn btn-find-match align-items-center d-flex">Inscrever-se</a> 
      </div>
    </div>
  </div>
</div>