{% extends 'base.html' %}

{% block content %}
    <h1>Equipe: {{team}}</h1>
    <p>Modalidade: {{team.modality}}</p>

    <div class="row">
        <div class="col-12 col-lg-6">
            <h2> Integrantes </h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>CPF</th>
                    </tr>
                </thead>
                <tbody>
                {% for member in team.get_members %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ member.get_full_name }}</td>
                        <td>{{ member.cpf }}</td>
                        <td>
                            {% if user == team.leader %}
                                {% if member != team.leader %}
                                <form action="{% url 'teams:team_remove_member' team_id=team.id user_id=member.id%}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-link text-danger p-0">
                                        <i class="material-icons small">delete</i>
                                    </button>
                                </form>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                {% if user == team.leader %}
                <tfoot>
                    <tr>
                        <td colspan="100">
                            <a href="{% url 'teams:team_add_member' team=team.pk%}">Adicionar integrante</a>
                        </td>
                    </tr>
                </tfoot>
                {% endif %} 
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <h2> Participações em Competições </h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Competição</th>
                        <!-- <th>Resultado</th> -->
                    </tr>
                </thead>
                <tbody>
                {% for subscription in team.get_subscriptions %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ subscription.competition.title }}</td>
                        <td>
                            {% for result in team.get_results %}
                           
                                {% if result.competition == subscription.competition %}
                                    {% if result.place == 1 %}
                                        <span class="badge bg-success">Ouro</span>
                                    {% elif result.place == 2 %}
                                        <span class="badge bg-danger">Prata</span>
                                    {% elif result.place == 3 %}
                                        <span class="badge bg-warning">Bronze</span>
                                    {% else %}
                                        <span class="badge bg-secondary">Perdedor</span>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}  
                        </td>   
                    </tr>
                {% empty %}
                    <tr><td colspan="100">Nenhuma participação registrada</td></tr>
                {% endfor %}
                </tbody> 
            </table>
        </div>
    </div>
{% endblock content %}
