{% extends 'base.html' %}

{% load static %}

{% block pre-content %}
<div class="text-center bg-find-match d-flex align-items-center py-5 py-4 mb-4">
    <div class="container">
        <div class="row mx-0 w-100">
            <div class="col-12">
                <h1 class="text-white fw-bold mx-3 fs-32 fs-lg-65 py-5">
                {{object.title}}
                </h1>
            </div>
        </div>
    </div>
</div>
{% endblock pre-content %}



{% block content %}
    <div class="row px-2">
        <div class="col-12">
            <p><b>Modalidade:</b> {{object.modality}}</p>
            {% if object.max_slots != 0%}
                <p><b>Nº de vagas:</b> {{object.max_slots}}</p>
            {% endif %}
            {% if object.city %}
                <p><b>Endereço:</b> {{object.city}}/{{object.state}} - {{object.address}}</p>
            {% endif %}
            <p><b>Preço de Inscrição:</b> {% if competition.subscription_price > 0 %}R${{competition.subscription_price}}{% else %}Gratuito{% endif %}</p>
            <p><b>Avaliação:</b>
                {% if object.avaliacao >= 0 %}
                    <p><b>"1"</b></p>
                    <i class="fa-solid fa-star"></i>
                {% endif %}
        </div>
      <div class="col-12">
        <p class="text-justify">{{object.description}}</p>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
        <img src="{{object.image.url}}" alt="" class="img-event m-5">
        <div class="col-12">
            <a href="#" class="btn btn-find-match">Inscrever-se</a>
            
        </div>
    </div>
{% endblock %}
