{% extends 'base.html' %}

{% load static %}

{% block pre-content %}
<div class="text-center bg-find-match d-flex align-items-center py-5 py-4 mb-4">
    <div class="container">
        <div class="row mx-0 w-100">
            <div class="col-12">
                <h1 class="text-white fw-bold mx-3 fs-32 fs-lg-65 py-5">
                {{object.title}}
                </h1>
            </div>
        </div>
    </div>
</div>
{% endblock pre-content %}



{% block content %}
    <div class="row px-2 d-flex align-items-center">
        <div class="col-12 col-lg-6">
            <p><b>Modalidade:</b> {{object.modality}}</p>
            {% if object.max_slots != 0%}
                <p><b>Nº de vagas:</b> {{object.max_slots}}</p>
            {% endif %}
            {% if object.city %}
                <p><b>Endereço:</b> {{object.city}}/{{object.state}} - {{object.address}}</p>
            {% endif %}
            <p><b>Preço de Inscrição:</b> {% if competition.subscription_price > 0 %}R${{competition.subscription_price}}{% else %}Gratuito{% endif %}</p>
            <p class="text-justify">{{object.description}}</p>
        </div>
      <div class="col-12 col-lg-6">
        <img src="{{object.image.url}}" alt="" class="img-event mt-5 mt-lg-0" width="100%">
      </div>
    </div>
    <div class="row">
        <h2>Documentos</h2>
        <ol>
            {% for document in competition.documents.all %}
                <ol><a href="{{document.file.url}}">{{document.name}}</a></li>
            {% endfor %}
        </ol>

    </div>
    <div class="row d-flex justify-content-center">
        {% if not object.competition_ended %}
        <div class="col-12">
            <a href="{% url 'competitions:competition_subscribe' pk=object.id %}" class="btn btn-find-match">Inscrever-se</a>
        </div>
        {% else %}
        <div class="col-12">
            <h3 class="text-start fw-bold">Resultados</h3>
            {% if team_winners.0.winner %}
            <div class="podium-container d-flex justify-content-center">
                {% for item in team_winners %}
                    <div class="podium-member {{ item.class }}">
                        {% if item.winner %}
                        {{ item.winner }} - {{ forloop.counter }}º
                        {% else %}
                        <p>---</p>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="d-flex justify-content-center align-items-center podium-base">
                    <div class="podium podium-first"></div>
                </div>
            </div> 
            {% else %}
            <p>Aguardando análise dos resultados...</p>
            {% endif %}  
        </div>
        {% if user_can_evaluate_competition %}
            <div class="col-12">
                <a href="{% url 'competitions:rate_competition' competition_id=object.id %}" class="btn btn-find-match">Avaliar</a>
            </div>
        {% endif %}
        {% endif %}
    </div>
{% endblock %}
