{% extends 'base.html' %}

{% block content %}
    <ul>
        <li>
        {% for competition in object_list %}
            <a href="{% url 'competitions:detail_competition' pk=competition.id%}">{{competition}}</a>
        {% empty %}
            <p> Não há competições para mostrar </p>
        {% endfor %}
        </li>
    </ul>

    {% if perms.competitions.add_competition %}
        <a href="{% url 'competitions:create_competition' %}">Criar competição</a>
    {% endif %}
{% endblock content %}
