{% extends "base.html" %}

{% block content %}
<h1>Meus Eventos</h1>

{% if perms.competitions.add_competition %}
<div class="row my-5">
    <h2>Eventos organizados</h2>
    <div class="table-responsive-sm">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Modalidade</th>
                    <th>Vagas</th>
                    <th>Prazo de Inscrição</th>
                    <th>Início</th>
                    <th>Término</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for competition in organized_competitions %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url 'competitions:manage_competition' pk=competition.id%}">{{competition}}</a></td>
                        <td>{{competition.modality}}</td>
                        <td>{{competition.subscriptions.confirmed.count}}/{% if competition.max_slots %}{{competition.max_slots}}{% else %}Ilimitado{% endif %}</td>
                        <td>{{competition.subscription_until|date:"d/m/Y H:i"}}</td>
                        <td>{{competition.datetime|date:"d/m/Y H:i"}}</td>
                        <td>{{competition.datetime_end|date:"d/m/Y H:i"}}</td>
                        <td>
                            <a href="{{competition.get_absolute_url}}"><i class="material-icons">info</i></a>
                            <a href="{% url 'competitions:update_competition' pk=competition.id %}"><i class="material-icons">edit</i></a>
                            <a href="{% url 'competitions:assign_winners' pk=competition.id %}"><i class="material-icons">emoji_events</i></a>
                            <a href="{% url 'competitions:add_document' competition_id=competition.id %}"><i class="material-icons">description</i></a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="100">Você nunca organizou um evento</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <td colspan="100">
                    <a href="{% url 'competitions:create_competition' %}" class="btn btn-find-match login">Criar Competição</a>
                </div>
            </tfoot>
        </table>
    </div>
</div>
{% elif show_become_organizer_button %}
    
{% endif %}

<div class="row mt-3">
    <h2>Inscrições</h2>
    <div class="table-responsive col-lg-6">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Competição</th>
                    <th>Time</th>
                    <th>Status</th>
                    <th>Data de inscrição</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for subscription in pending_subscriptions %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url 'competitions:detail_competition' pk=subscription.competition.id%}">{{subscription.competition}}</a></td>
                        <td><a href="{% url 'teams:detail_team' pk=subscription.team.id%}">{{subscription.team}}</a></td>
                        <td>{{subscription.get_status_display}}</td>
                        <td>{{subscription.created_at}}</td>
                        <td>
                            {% if subscription.is_pending %}
                                <a href="{% url 'competitions:pay_subscription' pk=subscription.id%}" class="text-success">
                                    <i class="material-icons">attach_money</i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                {% for subscription in confirmed_subscriptions %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url 'competitions:detail_competition' pk=subscription.competition.id%}">{{subscription.competition}}</a></td>
                        <td><a href="{% url 'teams:detail_team' pk=subscription.team.id%}">{{subscription.team}}</a></td>
                        <td>{{subscription.get_status_display}}</td>
                        <td>{{subscription.created_at}}</td>
                        <td>
                            {% if subscription.is_pending %}
                                <a href="{% url 'competitions:pay_subscription' pk=subscription.id%}" class="text-success">
                                    <i class="material-icons">attach_money</i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                {% if not confirmed_subscriptions and not pending_subscriptions %}
                    <tr>
                        <td colspan="100">Você ainda não se inscreveu em eventos</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}