{% extends "base.html" %}

{% block content %}
<h1>Meus Eventos</h1>

<div class="row my-5">
    {% if perms.competitions.add_competition %}
    <h2>Eventos que organizei</h2>
    <div class="table-responsive-sm">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Modalidade</th>
                    <th>Vagas</th>
                    <th>Prazo de Inscrição</th>
                    <th>Início</th>
                    <th>Término</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for competition in organized_competitions %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url 'competitions:detail_competition' pk=competition.id%}">{{competition}}</a></td>
                        <td>{{competition.modality}}</td>
                        <td>{% if competition.max_slots %}{{competition.max_slots}}{% else %}Ilimitado{% endif %}</td>
                        <td>{{competition.subscription_until|date:"d/m/Y H:i"}}</td>
                        <td>{{competition.datetime|date:"d/m/Y H:i"}}</td>
                        <td>{{competition.datetime_end|date:"d/m/Y H:i"}}</td>
                        <td>
                            <a href="{{competition.get_absolute_url}}"><i class="material-icons">info</i></a>
                            <a href="{% url 'competitions:update_competition' pk=competition.id %}"><i class="material-icons">edit</i></a>
                            <a href="{% url 'competitions:assign_winners' pk=competition.id %}"><i class="material-icons">emoji_events</i></a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="100">Você nunca organizou um evento</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <td colspan="100">
                    <a href="{% url 'competitions:create_competition' %}" class="btn btn-find-match login">Criar Competição</a>
                </div>
            </tfoot>
        </table>
    </div>
    {% endif %}
</div>
<div class="row">
    <h2>Participações em Eventos</h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Modalidade</th>
                    <th>Nº de Vagas</th>
                    <th>Início</th>
                    <th>Fim</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for competition in subscribed_events %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url 'competitions:detail_competition' pk=competition.id%}">{{competition}}</a></td>
                        <td>{{competition.modality}}</td>
                        <td>{% if competition.max_slots %}{{competition.max_slots}}{% else %}Ilimitado{% endif %}</td>
                        <td>{{competition.datetime}}</td>
                        <td>{{competition.datetime_end}}</td>
                        <td>
                            <a href="{{competition.get_absolute_url}}"><i class="material-icons">info</i></a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="100">Você ainda não participou de eventos</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <h2>Minhas Inscrições</h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Competição</th>
                    <th>Time</th>
                    <th>Status</th>
                    <th>Data de inscrição</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for subscription in my_subscriptions %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url 'competitions:detail_competition' pk=subscription.competition.id%}">{{subscription}}</a></td>
                        <td>{{subscription.team}}</td>
                        <td>{{subscription.status}}</td>
                        <td>{{subscription.created_at}}</td>
                        <td>
                            <form action="{% url 'competitions:remove_subscription' pk=subscription.id%}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link text-danger p-0">
                                    <i class="material-icons small">delete</i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="100">Você ainda não se inscreveu em eventos</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}